*{
    margin: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
@font-face {
    font-family: "TextoEnrique";
    src: url(../FUENTES/artificial_intelligence/ArtificialIntelligence_PERSONAL_USE_ONLY.otf);
}
h1{
    text-shadow: 3px 3px 5px black;
    text-align: center;
    margin-bottom: 10px;
}
h2{
    text-align: center;
    font-family: TextoEnrique;
}
h3{
    text-align: center;
}
.MenuH > a{
    background-color: blue;
    color: white;
    text-decoration: none;
    float: left;
    width: 50%;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.MenuH{
    width: 70%;
    margin: 20px auto 20px auto;
    display: flex;
    transform: all 0.5s ease;
}
.MenuH  a:hover{
    background-color:aqua;
    color: black;
    transform: scale(1.2)
}
section{
    width: 80%;
    float: left;
    margin: 25px auto 50px auto;
    text-align: center;
}
section a{ 
    padding: 25px;
}
header,footer{
    background-image: linear-gradient(to bottom,red,yellow,red);
    padding: 50px;
    text-align: center;
}
footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    clear: both;
    text-align: center;
    padding: 20px;
}

.grid{
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    width: 100%;
}

.grid img{
    width: 100%;
    border: 3px solid white;
   
    transform: all 0.5s ease;
    border-style: solid;
    border-color: black;
    transition: all ease 1s;
}

.grid img:hover{
    transform: scale(0.9) rotate(360deg);
}

img{
    width: 200px;
    margin: auto;
    float: center;
    display: block;
    border: gold 10px solid;
}
body{
    background-color: white;
    background-image: url(./IMGproyectos/fondopryt.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 2000px;
}
p{
    color: black;
    padding: auto;
    text-align: center;
}

nav{
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}
.rosa{
    background-color: pink;
    border-radius: 50%;
    margin-bottom: 50px;
    color: black;
}
.naranja{
    background-color: orange;
    border-radius: 50%;
    margin-bottom: 50px;
    color: black;
}
.amarilla{
    background-color: yellow;
    border-radius: 50%;
    margin-bottom: 50px;
    color: black;
}
.azul{
    background-color: blue;
    border-radius: 50%;
    margin-bottom: 50px;
    color: white;
}
div{
    padding: 25px;
    float: right;
    width: 25%;
}

audio{
    margin-bottom: 100px;
}

.Contacto{
    background-color: black;
    border: solid 5px black;
    width: 75%;
    margin: auto;
    padding: 15px;
}
  
.Contacto h1{
    color: white;
    text-align: center;
    padding: 10px;
}
  
.linea{
    height: 5px;
    width: 30%;
    margin: auto;
    margin-bottom: 10px;
}
  
.formulario{
    display: flex;
    flex-direction: column;
}
  
.formulario > *{
    margin: 10px 0px 0px 0px;
    padding: 15px;
    border-radius: 10px;
}

iframe{
    border-radius: 50%;
    width: 60%;
    transition: all 1s ease;
}

iframe:hover{
    transform: scale(1,1) rotate(-5deg);
}